.brand {
  a {
    padding: 3px 5px;
    color: #333;
    transition: all .2s ease-in-out;
  }

  img {
    width: 140px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 350px) {
  .brand {
    display: none;
  }
}