.edit-music-modal {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
    width: 350px;

    &.open {
        display: block;
    }

    &.closed {
        display: none;
    }

    h2 {
        padding-bottom: 12px;
    }

    .modal-body {
        // Estilos del cuerpo del modal
    }

    .modal-footer {
        // Estilos del pie del modal
    }
}
