.playlist-modal {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
    width: 350px;

    &.open {
        display: block;
    }

    &.closed {
        display: none;
    }

    ul {
        list-style: none;
        margin: 0;

    }

    ul li {
        cursor: pointer;
        padding: 7px;
        align-items: center;
        display: flex;
    }

    h2 {
        padding-bottom: 12px;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .modal-title {
            font-size: 20px;
            font-weight: bold;
        }

        .close-button {
            cursor: pointer;
            font-size: 20px;
            color: #666;
            transition: color 0.3s;

            &:hover {
                color: #333;
            }
        }
    }

    .modal-body {
      
    }

    .modal-footer {
        // Estilos del pie del modal
    }
}